.root {
    line-height: 40px;
}

.calckey {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 7px;
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    background-color: slategray;
    }

.highlight {
    background-color: beige;
}

