.root {
   line-height: 40px;
}

.calckey {
   font-weight: bold;
   border: 2px solid black;
   margin-top:10px;
   margin-bottom:10px;
   text-align: center;
}

.highlight {
   border: 2px solid red;
}
